.containerDetail {
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 110px;
  display: inline-flex;
  background-color: rgba(44, 44, 44, 0.151);
  border-radius: 30px;
  height: 550px;
  width: 950px;
  animation: luz-verde 3s linear infinite;
}

@keyframes luz-verde {
  0% {
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
    border: 2px solid transparent;
  }
  100% {
    box-shadow: none;
    border: 2px solid #0f0;
  }
}

.containernameDetail {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(84, 255, 98, 0.8);
  padding: 10px;
  margin: 3%;
  width: 300px;
  height: 400px;
  top: 0px;
  right: 0px;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  border-color: rgba(84, 255, 98, 0.8);
  box-shadow: 0 0 20px rgba(84, 255, 98, 0.8);
}
.nameDetail {
  font-size: xx-large;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.imageDetail {
  position: relative;
  align-items: center;
  height: 100%;
  margin: 10px 20px 30px 30px;
  border: 1px rgba(60, 253, 86, 0.8);
  box-shadow: 0 0 20px rgba(84, 255, 98, 0.8);
}

.divDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caracteristicsDetail {
  width: calc(50% - 10px);
  border-radius: 10px;
  text-align: center;
  transform: rotate(0deg);
  width: 260px;
  background-color: rgba(10, 10, 10, 0.733);
  color: rgba(84, 255, 98, 0.8);
  padding: 5px 10px;
  font-size: 20px;
  margin: 10px;
}
.caracteristicsDetail:hover {
  animation: rotarYVibrar 0.25s infinite;
  box-shadow: 0 0 30px rgba(84, 255, 98, 0.8);
}
@keyframes rotarYVibrar {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(-5deg) translateX(2px);
  }
}

.buttonReturn{
  position: absolute;
  height: 40px;
  width: 60px;
  left: 15px;
  top: 15px;
  text-align: center;
  justify-items: center;
  padding: 5px 15px;
  margin: 10px;
  background-color: rgb(103, 207, 90);
  border: outset;
  border-color: rgb(103, 207, 90);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.buttonReturn:hover {
  background-color: rgb(77, 167, 65);
  transform: translateY(1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: groove;
  border-color: rgb(77, 167, 65);
}

.buttonReturn:active {
  transform: scale(0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.imgReturn{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1090px) {
  .containerDetail {
    height: auto;
    width: 50vw;
  }
  .containernameDetail {
    width: 80%;
    height: 30%;
  }
  .imageDetail {
    transform: none;
    height: auto;
    width: 80%;
    margin: 75px 20px 30px 30px;
  }
}