  .SearchContainer {
    display:flex;
    justify-content: right; 
    align-items: center; 
    position: relative;
    padding: 4px;
    width: 300px;
    height: 40px;
    background-color: #f1e12d2a;
    border: 2px solid rgb(103, 207, 90);
    border-radius: 25px;
    overflow: hidden;
    top: 40px;
    right: 10px;
  }
  
  .inputSearch{
    position: relative;
    width: 150px;
    border: none;
    outline: none;
    background-color: transparent; 
    font-size: 16px;
    color: rgb(103, 207, 90); 
}
    .inputSearch::placeholder {
      text-indent: 20px; /* Ajusta el valor según sea necesario para mover el marcador de posición hacia la derecha */
      left: 0px;
    }

.buttonSearch {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px 25px;
    background-color: rgb(103, 207, 90); 
    color: #050000; 
    border:outset;
    border-color: rgb(103, 207, 90);
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    /* Agrega una transición para suavizar los cambios */
  }
  .buttonSearch:hover {
    background-color: rgb(77, 167, 65); 
    transform: translateY(1px); /* Mueve el botón hacia abajo */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
    border:groove;
    border-color: rgb(77, 167, 65);
  }
  
  .buttonSearch:active {
    transform: scale(0.95); /* Mueve el botón hacia abajo cuando se presiona */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Sombra más suave al presionar */
  }

